<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} {{ hero.sureName | uppercase }} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
  </div>
  <div>
    <label>sureName:
      <input [(ngModel)]="hero.sureName" placeholder="surName">
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>
<app-messages></app-messages>
