h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

a.heroes{
  display: inline-block;
  color: lightgray;
  text-decoration: none;
  background-color: dimgray;
  padding: 10px 20px;
  border-radius: 4px;
}