<div *ngIf="showMessage">

  <h2>Messages</h2>
  <button *ngIf="arrayMessages.length"
          class="clear"
          (click)="clearMessageForHero()">clear</button>
  <div *ngIf="arrayMessages.length">
    <div *ngFor='let message of arrayMessages'> {{message.message}} </div>
  </div>
  <input type="text" #inputTodo/>
  <button class="clear" (click)="addMessage(inputTodo.value); inputTodo.value=''">
    add message
  </button>

</div>