<!-- <h2>{{ hero.name | uppercase}} {{ hero.sureName | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div><span>sureName: </span>{{hero.sureName}}</div>
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
  <label>sureName:
    <input [(ngModel)]="hero.sureName" placeholder="sureName">
  </label>
</div> -->
<ul class="heroes">
  <li *ngFor="let hero of heroes" 
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> 
      <span class='name'>{{hero.name}} {{hero.sureName}}</span>
    </a>
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!-- <div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} {{ selectedHero.sureName | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
  <div>
    <label>sureName:
      <input [(ngModel)]="selectedHero.sureName" placeholder="surName">
    </label>
  </div>
</div> -->

