.heroes{
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

.heroes li {
  display: flex;
  flex-direction: row;
  width: 160px;
  background-color: #ccc;
  list-style: none;
  margin: 4px 0px;
  border-radius: 5px;
  cursor: pointer; 
}
.heroes .selected {
  background-color: green;
  color: white;
}

.heroes .selected .badge{
  background-color: lightgray;
  color: white;
}

.heroes li .badge{
  display: block;
  width: 30px;
  padding: 10px 0;
  background-color: gray;
  border-radius: 5px
}

.heroes li .name{
  margin-left: 5px;
  display: block;
  padding: 10px 0;
}

.heroes li a{
  display: flex;
  flex-direction: row;
}